/* Arquyivo CSS Base com Estilos dos Elementos Básico das Páginas */

*{
    font-size: 62,5%;
}

html{

}

body{

}

section{
    background-color: aquamarine;
    position: relative;
    height: 50px;
}

header{
    float: left;
    width: 30%;
}

nav {
    float: right;
}

nav, ul, li {
    display: inline;
}

footer{
    
}