/* Arquyivo CSS Base com Estilos dos Elementos Básico das Páginas */

*{
    font-size: 62,5%;
    font-family: 'Keania One', cursive;
}

html{
    width: 80vmax;
    margin: 0 auto;
}

body{
    position: relative;
}

header{
    float: left;
    width: 30%;
    height:50px;
    overflow: overlay;
}

nav {
    background-color: aqua;
    width: 70%;
    float: right;
    height: 50px;
}

.menu {
    list-style: none;
    /*border: 1px solid #c0c0c0;*/
    float: left;
}

.menu li {
    position: relative;
    float: left;
    /*border-right: 1px solid #c0c0c0;*/
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #0f0;
    -webkit-box-shadow: 0 3px 10px 0 #f00;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    /* border: 1px solid #00f;*/
    display: block;
    width: 150px;
}

section {
    position: relative;
}
footer {
    
}