/* Arquyivo CSS Base com Estilos dos Elementos Básico das Páginas */

*{
    font-size: 62,5%;
    font-family: 'Keania One', cursive;
}

html{
    width: 80vmax;
    margin: 0 auto;
}

body{
    position: relative;
}

header{
    float: left;
    width: 30%;
    height:50px;
    overflow: overlay;
}

nav {
    background-color: aqua;
    width: 70%;
    float: right;
    height: 50px;
}

.menu {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #0f0;
    -webkit-box-shadow: 0 3px 10px 0 #f00;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #978;
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #00f;
    display: block;
    width: 150px;
}

#menu {
    width: 600px;
    margin: 0 auto;

}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li {
    float: left;
    position: relative;
}

/* Menu horizontal principal */
#menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: darkgray;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid darkgray;
    margin-right: -5px;
    /*margin-top: 1px;*/
    width: 100px;
}

/* Submenu */
#menu ul li ul {
    display: none;
    position: absolute;
    padding-top: 5px
}

/* Itens do submenu */
#menu ul li ul li a {
    width: 110px;
    margin-top: -1px;
}

#menu ul li ul li a:hover  {
   
}

/* PULO DO GATO!!  Faz aparecer o menu */
#menu li:hover ul {
    display: block;
}

/* Alterar a cor de background dos itens do menu */
#menu ul li a:hover {
    background-color: #ddd;
}


section {
    position: relative;
}
footer {
    
}