/* Fonts do Google Básicas para Início de projeto! */

/* Fontes Serifadas */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Judson:ital,wght@0,400;0,700;1,400&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');

/*
    utilização das fontes:
        font-family: 'Aref Ruqaa Ink', serif;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Judson', serif;
        font-family: 'Roboto Serif', serif;

    utilização direta em html:
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Judson:ital,wght@0,400;0,700;1,400&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap" rel="stylesheet">
*/

/* Fontes Sem Serifa */
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*
    utilização das fontes:
        font-family: 'Allerta Stencil', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Sansita', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
    
    utilização direta em HTML:
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
*/

/* Fontes Display */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin+Sketch:wght@400;700&family=Faster+One&family=Fredericka+the+Great&family=Libre+Barcode+39+Text&family=Monoton&family=Rampart+One&family=Silkscreen:wght@400;700&display=swap');

/*
    utilização das fontes:
        font-family: 'Black Ops One', cursive;
        font-family: 'Cabin Sketch', cursive;
        font-family: 'Faster One', cursive;
        font-family: 'Fredericka the Great', cursive;
        font-family: 'Libre Barcode 39 Text', cursive;
        font-family: 'Monoton', cursive;
        font-family: 'Rampart One', cursive;
        font-family: 'Silkscreen', cursive;

    utilização direta em HTML:
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin+Sketch:wght@400;700&family=Faster+One&family=Fredericka+the+Great&family=Libre+Barcode+39+Text&family=Monoton&family=Rampart+One&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
*/

/* Fontes Handwriting */
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@400;500;600;700&family=Give+You+Glory&family=Great+Vibes&family=Indie+Flower&family=Kaushan+Script&family=Ms+Madi&family=Oooh+Baby&family=Pacifico&family=Sacramento&family=Tangerine:wght@400;700&family=Water+Brush&display=swap');

/*
    utilização das fontes:
        font-family: 'Allison', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Give You Glory', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Indie Flower', cursive;
        font-family: 'Kaushan Script', cursive;
        font-family: 'Ms Madi', cursive;
        font-family: 'Oooh Baby', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Sacramento', cursive;
        font-family: 'Tangerine', cursive;
        font-family: 'Water Brush', cursive;

    utilização direta em HTML:
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@400;500;600;700&family=Give+You+Glory&family=Great+Vibes&family=Indie+Flower&family=Kaushan+Script&family=Ms+Madi&family=Oooh+Baby&family=Pacifico&family=Sacramento&family=Tangerine:wght@400;700&family=Water+Brush&display=swap" rel="stylesheet">
*/